
/* hide title */
.otree-title {
        display: none;
        }

.otree-body {
    max-width: 100vw;
    max-height: 100vh;
    padding: 0px;
    margin: 0px;
}

.full-height {
    max-height: 100vh;
}
